
<ion-header>

  <ion-navbar>
    <ion-title>Listar Agendamentos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item [class.falha]="!agendamento.enviado" *ngFor="let agendamento of agendamentos">
      <ion-badge *ngIf="agendamento.confirmado && !agendamento.visualizado">Confirmado !</ion-badge>
      <br/>
      {{agendamento.nome}} - {{agendamento.data | date: 'dd/MM/yyyy'}}
      <p>{{agendamento.modelo}}</p>

      <button ion-button item-end icon-only clear *ngIf="!agendamento.enviado"
      (click)="reenviarAgendamento(agendamento)">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>
